<head>
  <style>
    .invalid{
      border:1px solid orange;
    }
  </style>
</head>



<h2>{{title}}</h2>

<br>
<button type="button"(click)="perfomAction()">Click Me</button>

<br>
<br>

<div [style.width.px]="starWidth"[style.overflow]="'hidden'">
  <div style="width: 75px"[style.color]="starColor">
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
  </div>
</div>
<br><br>
<label>Enter Name:</label>
<input type="text" name="username" required [class.invalid]="true"/>
<br><br>
<label>Enter Name:</label>
<input type="text" name="username" required [attr.value]="customerName" id="user_name"/>
<br>
<br>

<div [innerHTML]="title"></div>
<br>
<br>
<label> Enter Customer Name:</label>
<input type="text" name="customer_name" [(ngModel)]="customerName"/>
<br>
{{customerName}}
