<div class="container">
    <div class="card">

        <div class="card-header">
            Book Details
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 text-center">
                    <div class="text-center">
                    <img src="{{book.imageUrl}}" class="img-responsive" width="250px" height="400px"/>
                    <br><br>
                </div>
                    <button type="button" class="btn" style="background-color:#ff9f00">Add To Cart</button>
                    &nbsp; &nbsp;
                    <button type="button" class="btn" style="background-color:#fb641b">Buy Now</button>
                    &nbsp; &nbsp;
                </div>
                <div class="col-md-6">
                    <div class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>Book Id</td>
                                <td> {{book.bookId}}</td>
                            </tr>
                            <tr>
                                <td>Book Title</td>
                                <td>{{book.title}}</td>
                            </tr>
                            <tr>
                                <td>Author</td>
                                <td>
                                    <span *ngFor="let author of book.authors">{{author.firstName}} {{author.lastname}}
                                        <br>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                    <td>Book Category</td>
                                    <td>{{book.category}}</td>
                            </tr>
                            <tr>
                                    <td>Book Publisher</td>
                                    <td>{{book.publisher}}</td>
                            </tr>
                            <tr>
                                    <td>Book Pages</td>
                                    <td>{{book.noOfPages}}</td>
                            </tr>
                            <tr>
                                    <td>Book Rating</td>
                                    <td>{{book.rating}}</td>
                            </tr>
                            <tr>
                                    <td>Book Edition</td>
                                    <td>{{book.edition}}</td>
                            </tr>
                            <tr>
                                    <td>Book Price</td>
                                    <td>{{book.price | currency:"INR"}}</td>
                            </tr>
                            <tr>
                                <td>ReleseDate</td>
                                <td>{{book.releaseDate | date}}</td>
                            </tr>


                        </tbody>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
<!--{{book | json}}-->